.brand-logo {
  width: 84px;
  height: 42px;
}
.brand-name {
  font-size: 22px;
  font-weight: $font-weight-black;
  line-height: $line-height-large;
  color: #000;
  font-family: $font-family-secondary;
}
