:root {
  --white-color: #fff;
  --blue-color: #006dfe;
  --title-color: #102746;
  --footer-color: #0e1d28;
  --font-weight-semibold:600;
  --font-weight-bold:700;
  --font-size-medium:15px;
  --font-size-large:20px;
  --font-size-x-large:35px;
  --font-size-xxx-large:50px;

}

/* ------------font-------------------- */
@font-face {
  font-family: Lato;
  src: url(../font/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-2;
  src: url(../font/Lato/Lato-Black.ttf);
}
