// color
$color-green: #4ba87d;
$color-green-light: #caeac7;
$color-grey: #f7f7f7;
$color-black: #000;
$color-white: #FFFFFF;

// font-weight
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extraBold: 800;
$font-weight-black: 900;

// font-size
$font-size-x-small: 16px;
$font-size-small: 17px;
$font-size-medium: 19px;
$font-size-large: 21px;
$font-size-x-large: 44px;
$font-size-xx-large: 60px;

// line-height
$line-height-x-small: 20px;
$line-height-small: 22px;
$line-height-medium: 25px;
$line-height-large: 26px;
$line-height-x-large: 48px;
$line-height-xx-large: 80px;

// font-family
$font-family-primary: "playfairDisplay";
$font-family-secondary: "raleway";

