@font-face {
  font-family: "playfairDisplay";
  src: url(../fonts/playfairDisplay.ttf);
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway.ttf);
}

// font-family
$font-family-primary: "playfairDisplay";
$font-family-secondary: "raleway"
