@import url(../styles/variables.css);
@import url(../styles/reset.css);

/* ------------body------------------- */
body {
  height: auto;
  padding: 0;
  margin: 0 auto;
  font-family: "Lato";
}

/* -----------wrapper ----------------------*/
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* -------------tags------------------ */
p {
  font-style: normal;
}

/* ------------header---------------------- */
.header {
  width: 100%;
  height: 962px;
  background: linear-gradient(to top, rgba(16, 39, 70, 0.7), rgba(0, 0, 0, 0.5)),
    url(../images/header/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ------------menu------------------------- */
.navbar {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-top: 42px;
  padding-left: 191px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-logo img {
  width: 82px;
  height: 31px;
}

.container-menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-right: 17%;
}

.container-logo,
.container-menu {
  flex: 1;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  font-style: normal;
  font-size: 18px;
  margin-right: 82px;
  transition: 0.5s linear;
}

.nav-item:hover {
  transform: translateY(-10px);
}

/* ----------------------h1----------------------------- */
.title {
  width: 619px;
  padding-bottom: 13px;
  padding-top: 176px;
  padding-left: 191px;
  color: var(--primary-color);
  font-size: var(--font-size-xxx-large);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-large);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ---------------bg-hero---------------------------------- */
.bg-hero {
  height: auto;
  padding-top: 15px;
  padding-left: 191px;
  color: var(--primary-color);
}

.hero-text {
  width: 546px;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-normal);
  font-size: normal;
  margin-bottom: 56px;
}

.hero-question {
  display: flex;
  flex: 1;
}

.question {
  position: relative;
}

.question::after {
  position: absolute;
  content: "";
  width: 297px;
  height: 2px;
  background-color: var(--primary-color);
  top: 40px;
}

.question-item {
  margin-left: 45px;
  margin-right: 110px;
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-large);
  line-height: var(--line-height-normal);
}

.question-item::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  left: 0;
}

/* -------------bg-button---------------- */
.btn-primary {
  width: 171px;
  height: 58px;
  background-color: var(--secondary-color);
  border: none;
  font-weight: var(--font-weight-semibold);
  font-size: 24px;
  line-height: 29px;
  color: var(--primary-color);
  text-transform: uppercase;
}

/* ------------section-benefits---------------- */
.section-benefits {
  width: 1262px;
  height: 655px;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  background-color: var(--primary-color);
  margin-left: 106px;
  margin-top: 153px;
}

.benefits-title {
  color: var(--title-color);
  font-size: var(--font-size-x-large);
  padding-left: 99px;
  padding-top: 93px;
  padding-bottom: 120px;
}

/* -----------------------card----------------------------- */
.benefits-card {
  display: flex;
  padding-left: 100px;
}

.card-info {
  width: 317px;
  margin-right: 74px;
}

.info-image {
  width: 66px;
  height: 66px;
}

.info-title {
  font-style: normal;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-normal);
  padding-top: 37px;
}

.info-text {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-normal);
  margin-top: 26px;
  margin-bottom: 39px;
}

.card-item {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-normal);
  padding: 10px 40px 10px 0;
  position: relative;
  transition: 0.5s linear;
}

.card-item:hover{
  transform: translateY(-10px);
}

.card-item::after {
  position: absolute;
  content: "";
  width: 29px;
  height: 1px;
  background-color: var(--secondary-color);
  top: 50%;
  right: -30%;
  transform: translateY(-50%);
}

.card-item::before {
  position: absolute;
  content: "";
  border: 4px solid;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  right: calc(-30% - 8px);
  top: 50%;
  transform: translateY(-50%);
}

/* -----------------------main----------------------------- */
#main-wrapper {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
}

/* -----------------------photo-------------------------- */
.section-trip {
  padding-top: 38%;
  padding-left: 88px;
  padding-bottom: 131px;
  padding-right: 88px;
}

/* -----------------------photo-title-------------- */
.trip-photo {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.trip-box {
  display: flex;
  justify-content: space-between;
}

.photo-title {
  color: var(--title-color);
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-semibold);
  line-height: 42px;
  padding-right: 47%;
  padding-bottom: 10px;
  position: relative;
}

.photo-title::after {
  position: absolute;
  content: "";
  width: 255px;
  height: 0.9mm;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
}

.trip-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* -------------------------infomation-details-----------------*/
.information-details {
  padding-left: 85px;
}

.details-card {
  display: flex;
  gap: 108px;
}

.card-title {
  font-weight: var(--font-weight-bold);
  font-size: 30px;
  line-height: 40px;
  color: var(--title-color);
  padding-top: 20px;
  padding-bottom: 85px;
}

.card-text {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-normal);
  width: 80%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 75px;
  margin-bottom: 58px;
}

.card-text:hover {
  overflow: visible;
}

.details-card-bottom {
  flex-direction: row-reverse;
  padding-top: 76px;
}

.card-box-bottom {
  padding-left: 53px;
}

.card-title-bottom {
  width: 357px;
}

.card-text-bottom {
  width: 505px;
}

.card-photo-bottom {
  padding-right: 78px;
}

/* -------------------visit-details------------------- */
.visit-details {
  padding-top: 140px;
  padding-left: 80px;
}

.photo-title-visit {
  margin-bottom: 64px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
}

.visit-card {
  background-image: url(../images/places/nagoya.jpg);
  width: 386px;
  height: 377px;
  margin-bottom: 10px;
  position: relative;
}

.card-icon {
  background-color: rgba(21, 24, 36, 0.6);
  position: absolute;
  width: 100%;
  color: var(--primary-color);
  display: flex;
  text-transform: uppercase;
  height: 55px;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
}

.icon-box,
.icon-text {
  flex: 1;
}

.icon-box {
  display: flex;
}

.icon-item {
  display: flex;
  justify-content: space-around;
}

.icon-text {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-large);
  line-height: var(--line-height-normal);
  padding-left: 25px;
}

.icon-photo {
  width: 16px;
  height: 15px;
  padding-top: 5px;
  padding-left: 9px;
}

/* -----------------------------card-more------------------- */
.card-more {
  width: 386px;
  padding-top: 62px;
}

.text-more {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-normal);
  padding-bottom: 14px;
  width: 362px;
}

.btn-more {
  width: 118px;
  height: 42px;
  font-size: var(--font-size-medium);
  line-height: 19px;
}

.visit-card-niigita {
  background-image: url(../images/trip/snow.jpg);
}

.visit-card-osaka {
  background-image: url(../images/trip/osaka.jpg);
}

.visit-card-saitama {
  background-image: url(../images/trip/saitama.jpg);
}

.visit-card-ueno {
  background-image: url(../images/trip/ueno.jpg);
}

.visit-card-shibuya {
  background-image: url(../images/trip/shibuya.jpg);
}

/* ---------------------footer----------------------- */
.video-demo {
  width: 100%;
  height: 609px;
  margin-top: 144px;
}

.odigo-info {
  background-color: #0e1d28;
  padding-top: 119px;
  padding-left: 194px;
  padding-right: 167px;
  height: 370px;
  display: flex;
  gap: 356px;
  justify-items: center;
}

.info-container,
.odigo-info {
  flex: 1;
}

.odigo-logo {
  width: 170px;
  height: 64px;
}
.info-heading,
.info-item {
  color: var(--primary-color);
}
.info-container {
  display: flex;
  justify-content: space-between;
}
.info-heading {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  list-style: var(--line-height-normal);
}
.info-item {
  text-decoration: none;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-normal);
  display: flex;
  flex-wrap: wrap;
}
